body {
  background-color: #F0DED6;
  color: #f3f3f6;
  font-family: 'Fredoka One', ;
  font-size: 30px;
  margin: 0 auto;
}

button {
  margin: 8px;
}

.inlineBlock {
  display: inline-block;
  margin: 20px;
}